{% extends 'base.html' %}

{% block title %} Home - YourBlog{% endblock title %}

{% block homeactive %} active {% endblock homeactive %}}

{% load static %}

{% block body %}
<div class="container" style="width: 90%;">
    <section class="featured-posts">
        <div class="featured-heading-container flex-center">
            <h1 class="md-heading">Featured Posts</h1>
        </div>

        <div class="f-posts-container flex-wrap-nocenter">
          
            <div class="category-fix">
                <div class="category-div">
                    <h2 class="sm-heading">Category</h2>
                </div>
            <div class="post-container flex-column">
                <div class="post-img">
                    <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="Blog Post {{post.serial_no}}">
                </div>

                <div class="post-content">
                    <div class="author-div flex">
                        <div class="author-img flex-center">
                            <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="{{post.author}}'s Image">
                        </div>

                        <div class="author-details">
                            <p>Admin</p>
                            <p class="font-300">Apr 15 - 346 Views</p>
                        </div>
                    </div>

                    <div class="post-texts">
                        <h2 class="sm-heading">Here Comes the Post Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quas
                            recusandae, ex provident quidem cupiditate reprehenderit maiores adipisci culpa dolor!</p>
                    </div>
                    <br>
                    <hr>
                </div>
            </div>
        </div>

            <div class="category-fix">
                <div class="category-div">
                    <h2 class="sm-heading">Category</h2>
                </div>
            <div class="post-container flex-column">
                <div class="post-img">
                    <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="Blog Post {{post.serial_no}}">
                </div>

                <div class="post-content">
                    <div class="author-div flex">
                        <div class="author-img flex-center">
                            <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="{{post.author}}'s Image">
                        </div>

                        <div class="author-details">
                            <p>Admin</p>
                            <p class="font-300">Apr 15 - 346 Views</p>
                        </div>
                    </div>

                    <div class="post-texts">
                        <h2 class="sm-heading">Here Comes the Post Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quas
                            recusandae, ex provident quidem cupiditate reprehenderit maiores adipisci culpa dolor!</p>
                    </div>
                    <br>
                    <hr>
                </div>
                </div>
            </div>

            <div class="category-fix">
                <div class="category-div">
                    <h2 class="sm-heading">Category</h2>
                </div>
            <div class="post-container flex-column">
                <div class="post-img">
                    <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="Blog Post {{post.serial_no}}">
                </div>

                <div class="post-content">
                    <div class="author-div flex">
                        <div class="author-img flex-center">
                            <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="{{post.author}}'s Image">
                        </div>

                        <div class="author-details">
                            <p>Admin</p>
                            <p class="font-300">Apr 15 - 346 Views</p>
                        </div>
                    </div>

                    <div class="post-texts">
                        <h2 class="sm-heading">Here Comes the Post Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quas
                            recusandae, ex provident quidem cupiditate reprehenderit maiores adipisci culpa dolor!</p>
                    </div>
                    <br>
                    <hr>
                </div>
                </div>
            </div>

            <div class="category-fix">
                <div class="category-div">
                    <h2 class="sm-heading">Category</h2>
                </div>
            <div class="post-container flex-column">
                <div class="post-img">
                    <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="Blog Post {{post.serial_no}}">
                </div>

                <div class="post-content">
                    <div class="author-div flex">
                        <div class="author-img flex-center">
                            <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="{{post.author}}'s Image">
                        </div>

                        <div class="author-details">
                            <p>Admin</p>
                            <p class="font-300">Apr 15 - 346 Views</p>
                        </div>
                    </div>

                    <div class="post-texts">
                        <h2 class="sm-heading">Here Comes the Post Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quas
                            recusandae, ex provident quidem cupiditate reprehenderit maiores adipisci culpa dolor!</p>
                    </div>
                    <br>
                    <hr>
                </div>
                </div>
            </div>

            <div class="category-fix">
                <div class="category-div">
                    <h2 class="sm-heading">Category</h2>
                </div>
            <div class="post-container flex-column">
                <div class="post-img">
                    <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="Blog Post {{post.serial_no}}">
                </div>

                <div class="post-content">
                    <div class="author-div flex">
                        <div class="author-img flex-center">
                            <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="{{post.author}}'s Image">
                        </div>

                        <div class="author-details">
                            <p>Admin</p>
                            <p class="font-300">Apr 15 - 346 Views</p>
                        </div>
                    </div>

                    <div class="post-texts">
                        <h2 class="sm-heading">Here Comes the Post Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quas
                            recusandae, ex provident quidem cupiditate reprehenderit maiores adipisci culpa dolor!</p>
                    </div>
                    <br>
                    <hr>
                </div>
                </div>
            </div>
        </div>

        <div class="button-container flex-center">
                    <button type="button" class="btn btn-primary">All Posts</button>
                </div>
    </section>
    <hr>
</div> <!-- End of class container -->
{% endblock body %}