{% extends 'base.html' %}

{% block title %} Home - YourBlog{% endblock title %}

{% block homeactive %} active {% endblock homeactive %}}

{% load static %}

{% block body %}
<div class="container" style="width: 90%;">
    <section class="featured-posts">
        <div class="featured-heading-container flex-center">
            <h1 class="md-heading">Featured Posts</h1>
        </div>

        <div class="f-posts-container flex-wrap-nocenter">

            {% for post in posts %}
            <div class="category-fix">
                <div class="category-div">
                    <h2 class="sm-heading">{{post.category|title}}</h2>
                </div>
            <div class="post-container flex-column">
                <div class="post-img">
                    <a href="/blog/{{post.category}}/{{post.slug}}">
                    <img src="/media/{{post.thumbnail_image}}" alt="Blog Post {{post.serial_no}}">
                </a>
                </div>

                <div class="post-content">
                    <div class="author-div flex">
                        <div class="author-img flex-center">
                            <img src="{% static 'home/img/your-blog-header.jpg' %}" alt="{{post.author}}'s Image">
                        </div>

                        <div class="author-details">
                            <p>{{post.author}}</p>
                            <p class="font-300">Apr 15 - 346 Views</p>
                        </div>
                    </div>

                    <div class="post-texts">
                        <a href="/blog/{{post.category}}/{{post.slug}}" style="color: black;">
                        <h2 class="sm-heading">{{post.title}}</h2>
                        <p style="min-height: 57px;">{{post.content}}</p>
                    </a>
                    </div>
                    <br>
                    <hr>
                </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="button-container flex-center l-spacing-md">
                    <button type="button" class="btn">All Posts</button>
                </div>
    </section>
    <hr>
</div> <!-- End of class container -->
{% endblock body %}