{% extends 'base.html' %}

{% block title %} All Blogs - YourBlog{% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% load static %}

{% block body %}
<div class="container nth-child">
  <div class="blog-container">
    <div class="all-posts-heading flex-center lg-heading">All Posts</div>

    <div class="category-navbar">
      <ul class="category-item-div flex">
        <li class="category-item">
          <a href="/blog" style="color: gold;">All</a>
        </li>
        {% for cat in categories %}
        <li class="category-item">
          <a href="/blog/{{cat.category}}" class="">{{cat.category|title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% for post in posts %}

    {% if forloop.counter|divisibleby:2 %}
    <div class="blog-post-div flex-center" style="margin-top: 25px">
      <div class="blog-img-div" style="order: 2;">
        <a href="/blog/slug"
          ><img src="/media/{{post.thumbnail_image}}" alt="Blog Post Image"
        /></a>
      </div>

      <div class="blog-content-div flex-column-no-center" style="order: 1;">
        <div class="blog-author-div flex">
          <div class="blog-author-img">
            <img
              src="{% static 'home/img/your-blog-header1.jpg' %}"
              alt="Author's Image"
            />
          </div>

          <div class="blog-author-text">
            <p>{{post.author}}</p>
            <p>Apr 15 - 3 Min</p>
          </div>
        </div>

        <div class="blog-content">
          <a href="/blog/{{post.slug}}" style="color: black"
            ><h2 class="md-heading">{{post.title}}</h2></a
          >
          <p>{{post.content}}</p>

          <div class="hr-bottom"></div>

          <div class="views-comment flex">
            <p>4356 Views</p>
            <p><a href="/blog">Write a comment</a></p>
          </div>
        </div>
      </div>
    </div>

    {% else %}

    <div class="blog-post-div flex-center" style="margin-top: 25px;">
      <div class="blog-img-div">
        <a href="/blog/slug"
          ><img src="/media/{{post.thumbnail_image}}" alt="Blog Post Image"
        /></a>
      </div>

      <div class="blog-content-div flex-column-no-center">
        <div class="blog-author-div flex">
          <div class="blog-author-img">
            <img
              src="{% static 'home/img/your-blog-header1.jpg' %}"
              alt="Author's Image"
            />
          </div>

          <div class="blog-author-text">
            <p>{{post.author}}</p>
            <p>Apr 15 - 3 Min</p>
          </div>
        </div>

        <div class="blog-content">
          <a href="/blog/{{post.slug}}" style="color: black"
            ><h2 class="md-heading">{{post.title}}</h2></a
          >
          <p>{{post.content}}</p>

          <div class="hr-bottom"></div>

          <div class="views-comment flex">
            <p>4356 Views</p>
            <p><a href="/blog">Write a comment</a></p>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock body %}
