/* #################### CSS RESET ######################## */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

img{
    display: inline-block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.preview span{
    font-size: 16px ! important;
}

/* #################### UTILITY CLASSES ################### */

.show{
    display: block;
}

.active-cat{
    color: gold;
}

.container{
    max-width: 1100px;
    width: 65%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column-no-center{
    display: flex;
    flex-direction: column;
}

.flex-wrap-nocenter{
    display:flex;
    flex-wrap: wrap;
}

.font-300{
    font-weight: 300;
}

center{
    display: flex;
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.7rem;
}

.sm-heading{
    font-size: 2rem;
}

.l-spacing-lg{
    letter-spacing: 0.5rem;
}

.l-spacing-md{
    letter-spacing: 0.25rem;
}

.icon{
    padding: 5px;
}

/* ################### HEADER STYLING #################### */

.header{
    padding-top: 80px;
}

.header-img{
    width: 100%;
    display: flex;
    align-items: center;
}

.header-img img{
    display: inline-block;
    width: 100%;
    height: 350px;
    margin: 0 auto;
}

/* #################### NAVIGATION BAR STYLING ##################### */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
}

.navbar ul a{
    color: black;
    padding: 8px;
    font-size: 20px;
}

.navbar a:hover{
    border-bottom: 3px solid black;
}

.scrolled{
    background-color: blue;
}

.active{
    border-bottom: 3px solid black;
}

.logo-container{
    padding: 10px 20px;
    border: 4px solid black;
    background-color: white;
    position: relative;
    top: 24px;
    left: 10px;
}

.hide{
    display: none;
}

/* ################# FEATURED POSTS SECTION ################# */

.featured-heading-container{
    padding: 20px;
}

.category-div{
    border: 1px solid black;
    background-color: white;
    padding: 10px 25px;
    text-align: center;
    width: 150px;
    position: relative;
    top: 30px;
    left: 30px;
}

.post-container{
    border: 1px solid black;
    width: 345px;
    height: 450px;
    margin: 0 10px 40px 10px;
}

.post-container:hover .post-content h2{
    color: goldenrod;
}

.post-img{
    width: 100%;
    height: 50%;
}

.post-img img{
    width: 100%;
    height: 100%;
}

.post-content{
    width: 100%;
    height: 50%;
    padding: 20px;
}

.post-texts p{
    font-size: 14px;
}

.post-texts h2{
    margin-bottom: 7px;
}

/* ################ STYLING AUTHOR IN POST CONTENT DIV ############### */

.author-img{
    padding: 0 8px 0 8px;
}

.author-div{
    margin-bottom: 10px;
}

.author-div p{
    font-size: 15px;
}

.author-div img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

/* ################ STYLING CONTACT SECTION ############## */

.contact-heading{
    margin: 60px 0;
    font-family: playfairdisplay-bold, "playfair display", serif;
}

.name-email-field{
    justify-content: space-between;
    width: 90%;
    margin-bottom: 35px;
}
.name-email-field input{
    border: none;
    border-bottom: 1px solid black;
    font-size: 17px;
    width: 47%;
    padding: 7px 4px;
    outline: none;
}

.message-field textarea{
    font-weight: 300;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid black;
    width: 788px;
    height: 60px;
    max-height: 60px;
    margin-bottom: 20px;
    outline: none;
    resize: none;
}

/* ################# STYLING BUTTONS ################ */

.btn{
    margin: 50px 0;
    font-size: 20px;
    padding: 20px 80px;
    text-transform: capitalize;
    border: 1px solid black;
    cursor: pointer;
}

.btn-primary{
    padding: 15px 40px; 
    font-size: 17px; 
    margin: 0 10px; 
    text-transform: capitalize;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: black;
    color: white;
}

.btn:hover{
    background-color: black;
    color: white;
}

/* ################# STYLING FOOTER ####################*/

footer{
    background-color: black;
    color: white;
}

.footer-content{
    width: 100%;
    justify-content: center;
    margin: 25px 0;
    margin-bottom: 90px;
}

.footer-heading{
    font-family: playfairdisplay-bold, "playfair display", serif;
    margin: 25px 0;
}

.footer-icons{
    margin-left: 80px;
}
.footer-icons i{
    margin-right: 20px;
}

.quick-links{
    border-width: 2px;
    border-style: solid;
    border-top: white;
    border-bottom: white;
    padding: 0 100px;
    margin-left: 120px;
}
.ql-item a{
    font-size: 20px;
    color: white;
}

.ql-item a:hover{
    color: grey;
}

.ql-items li{
    margin-bottom: 5px;
}

.quick-links a::before{
    content: "\27A3";
    margin-right: 10px;
}

.footer-text{
    font-size: 20px;
    margin-left: 100px;
}

.footer-text a{
    color: white;
}

/* ################# STYLING ABOUT PAGE ################## */

.about-container{
    margin: 50px 0;
    height: 80vh;
}

.upper-about{
    text-transform: uppercase;
}

.about-img{
    width: 60%;
    height: 100%;
}

.about-img img{
    width: 100%;
    height: 100%;
}

.about-content-div{
    position: relative;
    width: 40%;
    height: 100%;
}

.about-content{
    font-family: playfairdisplay-bold, "playfair display", serif;
    padding: 20px 20px 0 20px;
    position: absolute;
    bottom: 0;
}

.about-contact-heading{
    font-weight: 800;
}

.about-para{
    font-size: 14px;
}

.about-para p{
    margin-top: 8px;
}

.bottom-para{
    margin-bottom: 0;
}

/* ################## STYLING BLOG HOME PAGE ################ */

.blog-container{
    font-family: playfairdisplay-bold, "playfair display", serif;
}

.all-posts-heading{
    margin-top: 30px;
}

.blog-post-div{
    border: 1px solid grey;
    height: 300px;
    margin: 50px 0;
}

.blog-post-div:hover h2{
    color: goldenrod;
}

.blog-content-div {
    width: 50%;
    padding: 30px;
    height: 100%;
}

.blog-img-div{
    width: 50%;
    height: 100%;
}

.blog-img-div img{
    width: 100%;
    height: 100%;
}

.blog-author-img img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 8px;
}

.blog-author-text{
    font-size: 12px;
}

.blog-content h2{
    margin: 10px 0;
}

.blog-content h2:hover{
    color: goldenrod;
}

.blog-content p{
    font-size: 16px;
}

.hr-bottom{
    border-bottom: 1px solid black;
    width: 100%;
    height: 20px;
}

.views-comment{
    justify-content: space-between;
    margin-top: 10px;
}

.views-comment p{
    font-size: 14px;
}

.views-comment a{
    color: black;
}

/* ################ STYLING CATEGORY NAVBAR ################ */

.category-item-div{
    margin-top: 10px;
}

.category-item-div a{
    color: black;
    padding: 0 10px;
    font-size: 16px;
}

.category-item-div a:hover{
    color: goldenrod;
}

/* ################ STYLING Lsignup MODAL ################# */

.modal-div{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
    padding: 30px 0;
    border: 1px solid black;
    width: 40%;
    margin: 5% auto;
    background-color: white;
}

.modal-content h2{
    margin-bottom: 20px;
}

.login-inputs input{
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 15px 5px;
    width: 80%;
    background-color: #fff;
}

.login-btn button:hover{
    background-color: black;
}

/* ################ STYLING SIGN UP MODAL ############### */

.signup-inputs input{
    outline: none;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 15px 5px;
    width: 80%;
    background-color: #fff;
}

.signup-btn button:hover{
    background-color: black;
}

.welcome-user{
    font-size: 15px;
    position: relative;
    left: 295px;
    bottom: 55px;
    width: 310px;
    border: 1px solid black;
    padding: 15px 0;
    background-color: white;
}

.welcome-user button{
    padding: 7px 30px;
    background-color: rgb(240, 236, 236);
    margin: 10px 0 0 0;
    border-radius: 20px;
}

/* ################ STYLING POST PAGE ################ */

.post-title-tagline-div{
    margin-top: 15px;
}

.blog-post-content-div h1{
    font-size: 40px;
}

.blog-post-content-div h3{
    font-size: 18px;
    margin-top: 25px;
}

.post-header-image img{
    width: 100%;
    margin-top: 25px;
}

.post-content-by-tinymce{
    margin-top: 25px;
}

.below-post-hr{
    justify-content: space-between;
}

.post-hr{
    border-bottom: 1px solid lightgray;
    margin-top: 30px;
    margin-bottom: 15px;
}

.comment-reply-div{
    margin-bottom: 40px;
}

.comment-timestamp{
    text-transform: uppercase; 
    margin: 10px 0; 
    color: grey; 
    font-size: 14px;
}

.comment-text{
    font-size: 18px;
    margin-top: 5px;
}

/* ################ STYLING COMMENT SECTION ################ */


.comment-textarea{
    width: 100%;
    outline: none;
    /* border: none;
    border-bottom: 1px solid black; */
    margin-top: 20px;
    height: 70px;
    max-height: 70px;
    max-width: 100%;
    padding: 10px;

}

.comment-submit{
    padding: 7px 30px;
    background-color: rgb(240, 236, 236);
    margin: 25px 0 0 0;
    border-radius: 20px;
}

.reply-submit{
    padding: 5px 15px;
    background-color: rgb(240, 236, 236);
    border: 1px solid rgba(0, 0, 0, 0.493);
    margin: 15px 0 0 0;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
    width: min-content;
}

/* ################ STYLING DASHBOARD ################ */

.add-post-btn .btn{
    margin: 40px 0 0 0;
}

button.btn-dash{
    padding: 6px 20px;
    margin: 5px;
    font-size: 14px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    text-align: left;
    font-size: 18px;
}

td{
    font-size: 18px;
}

th, td{
    padding: 15px;
}

/* ################ EDIT FORM STYLING ############### */

.editForm input{
    width: 90%;
    padding: 20px 10px;
    margin-top: 20px;
    outline: none;
    font-size: 17px;
}

.editForm textarea{
    width: 90%;
    padding: 20px 10px;
    margin-top: 20px;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.editForm .submit-btn .btn{
    margin: 20px 0 10px 0;
}

label{
    border: 1px solid black;
    background-color: rgb(233, 233, 233);
    font-size: 17px;
    padding: 15px 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

label:hover{
    background-color: darkgray;
}

label i{
    margin-left: 10px;
}

.category-input{
    margin-bottom: 20px;
}